{% assign navurl = page.url | remove: 'index.html' %}
<ul>
{% for item in include.nav %}
    {% if item.subitems %}
 	<li>
        <a href="{{ site.baseurl }}{{ item.url }}" class="navtop navparent" >
		{{ item.text }}
		</a>
		<ul>
		{% for subitem in item.subitems %}
			 <a href="{{ site.baseurl }}{{ subitem.url }}" class="navsub" >
			{{ subitem.text }}
			</a>

		{% endfor %}
		</ul>

	</li>

    {% else %}
  	<li>
         <a href="{{ site.baseurl }}{{ item.url }}" class="navtop" >
		{{ item.text }}
		</a>
 	</li>	
	{% endif %}
 

{% endfor %}
</ul>

